In [ ]:
import os
import sql
import psycopg2
%load_ext sql
PW = os.environ.get("LDPPW")

In [ ]:
%sql postgresql://ldp:$PW@glintcore.net/folio_marc_test

### This first query looks at all loans (from the circulation_loans table) in a date range (2017-01-01 <= loan_date < 2022-01-01) and counts the number of loans and renewals of each item.

In [ ]:
%%sql

DROP TABLE IF EXISTS local.nassibnassar_loan_count;

CREATE TABLE local.nassibnassar_loan_count AS
    SELECT
        item_id,
        coalesce(count(id), 0) AS loan_count,
        coalesce(sum(renewal_count), 0) AS renewal_count
    FROM
        circulation_loans
    WHERE
        loan_date >= '2017-01-01' AND loan_date < '2022-01-01'
    GROUP BY
        item_id;

SELECT * FROM local.nassibnassar_loan_count LIMIT 10;

### Since some items may never have been loaned at all, those items would not be included in circulation_loans and therefore would be missing from the previous result.  We can get a list of all of the items (from inventory_items) and join the items to the results from our previous query (local.loan_count).  (By "joining" items, we mean using another table to retrieve additional data that are looked up by the item ID.)  We use the coalesce() function to set 0 as a default count for items that have no loan data.

In [ ]:
%%sql

DROP TABLE IF EXISTS local.nassibnassar_item_loan_count;

CREATE TABLE local.nassibnassar_item_loan_count AS
    SELECT
        inventory_items.id AS item_id,
        coalesce(loan_count, 0) AS loan_count,
        coalesce(renewal_count, 0) AS renewal_count
    FROM
        inventory_items
        LEFT JOIN local.nassibnassar_loan_count AS loan_count ON inventory_items.id = loan_count.item_id;

SELECT * FROM local.nassibnassar_item_loan_count LIMIT 10;

### So far we have only retrieved item IDs.  There are a lot of data associated with items, and we can retrieve them by joining our previous results to other tables.  For example, we can use the tables, items_holdings_instances and item_ext.  (These are helper tables that we call "derived tables" because they are generated from the FOLIO source data.)  In this query we will also use a WHERE clause to filter the results on "book" which is simply a way of limiting our results to only print materials.

In [ ]:
%%sql

DROP TABLE IF EXISTS local.nassibnassar_item_loan_count_detail;

CREATE TABLE local.nassibnassar_item_loan_count_detail AS
    SELECT
        i.item_id,
        i.loan_count,
        i.renewal_count,
        h.barcode,
        h.holdings_record_id,
        h.hrid,
        h.call_number_type_id,
        h.call_number_type_name,
        h.material_type_id,
        h.material_type_name,
        h.holdings_id,
        h.call_number,
        h.instance_id,
        h.title,
        h.loan_type_id,
        h.loan_type_name,
        e.effective_location_id,
        e.effective_location_name,
        e.status_name
    FROM
        local.nassibnassar_item_loan_count AS i
        LEFT JOIN folio_reporting.items_holdings_instances AS h
            ON i.item_id = h.item_id
        LEFT JOIN folio_reporting.item_ext AS e
            ON e.item_id = i.item_id
    WHERE
        h.material_type_name = 'book';

SELECT * FROM local.nassibnassar_item_loan_count_detail LIMIT 10;

### Suppose that we wanted to look at collection use, for example, calculating the proportion of the collection that have circulated.  In general we could do this by dividing the number of distinct items in loans (circulation_loans) by the total number of items (inventory_items).

In [ ]:
%%sql

SELECT round( (
           (SELECT count(DISTINCT item_id)::float FROM circulation_loans) /
           (SELECT count(*)::float FROM inventory_items)
       )::numeric, 2)
       AS loan_quotient;

### However, in this case we are interested in only loans in our date range and only print materials.  So we can use our previous results (in item_loan_count_detail) to make this calculation, by dividing the number of items with loan count greater than 0 by the total number of items:

In [ ]:
%%sql

/* Books only */
SELECT round( (
           (SELECT count(*)::float FROM local.nassibnassar_item_loan_count_detail WHERE loan_count > 0) /
           (SELECT count(*)::float FROM local.nassibnassar_item_loan_count_detail)
       )::numeric, 2)
       AS loan_quotient;